version: "3"

# volumes:
#   database:
#    name: "data"
#   wordpress-php:
#    name: "website"

services:
 mariadb:
  container_name: mariadb
  build: ./requirements/mariadb/
  image: mariadb:42
  restart: always
  env_file:
   - .env
  # volumes:
  #   - database:/home/fbarros/data/mariadb
 wordpress:
  container_name: wordpress
  build: ./requirements/wordpress/
  image: wordpress:42
  restart: always
  depends_on:
   - mariadb
  # volumes:
  #  - wordpress-php:/home/fbarros/data/wordpress
 nginx:
  container_name: nginx
  build: ./requirements/nginx/
  image: nginx:42
  restart: always
  depends_on:
   - wordpress
  ports:
   - "443:443"

