version: "3"

services:
 db:
  build: ./requirements/mariadb/
  image: inception-mariadb:42
  restart: always
  env_file:
   - .env
  ports:
   - "3306:3306"
  volumes: db-volume
 wordpress:
  build: ./requirements/wordpress/
  image: inception-wp:42
  restart: always
  depends_on:
   - db
  ports:
    - "9000:9000"
  volumes: wp-volume
 nginx:
  build: ./requirements/nginx/
  image: inception-nginx:42
  restart: always
  depends_on:
   - wordpress
  ports:
   - "443:443"

volumes:
  mariadb: 
    name: db-volume
    
  wordpress: 
    name: wp-volume