version: "3"

services:
 mariadb:
  container_name: mariadb
  build: ./requirements/mariadb/
  image: mariadb:42
  restart: always
  env_file:
   - .env
  volumes:
    - /home/${USER}/data/mariadb:/var/lib/mysql
 wordpress:
  container_name: wordpress
  build: ./requirements/wordpress/
  image: wordpress:42
  restart: always
  depends_on:
   - mariadb
  # volumes:
  #  - /home/${USER}/data/wordpress:...
 nginx:
  container_name: nginx
  build: ./requirements/nginx/
  image: nginx:42
  restart: always
  depends_on:
   - wordpress
  ports:
   - "443:443"

