services:
 mariadb:
  container_name: mariadb
  build: ./requirements/mariadb/
  image: mariadb:42
  restart: always
  expose:
   - "3306"
  environment:
   - MYSQL_DATABASE
   - MYSQL_USER
   - MYSQL_PASSWORD
   - MYSQL_ROOT_PASSWORD
   - LOGIN
  volumes:
    - mariadb:/var/lib/mysql:rw
  networks:
   - inception
 wordpress:
  container_name: wordpress
  build: ./requirements/wordpress/
  image: wordpress:42
  restart: always
  expose:
   - "9000"
  environment:
   - LOGIN
   - MYSQL_USER
   - MYSQL_DATABASE
  depends_on:
   - mariadb
  volumes:
   - wordpress:/var/www/wordpress
  networks:
   - inception
 nginx:
  container_name: nginx
  build: ./requirements/nginx/
  image: nginx:42
  restart: always
  environment:
   - LOGIN
  depends_on:
   - wordpress
  volumes:
   - wordpress:/var/www/wordpress
  networks:
   - inception
  ports:
   - "443:443"

networks:
  inception:
   name: inception
   driver: bridge

volumes:
  mariadb:
    name: mariadb
    driver: local
    driver_opts:
      type: none
      device: /home/${USER}/data/mariadb
      o: bind
  wordpress:
    name: wordpress
    driver: local
    driver_opts:
      type: none
      device: /home/${USER}/data/wordpress
      o: bind

