services:
 mariadb:
  container_name: mariadb
  build: ./requirements/mariadb/
  image: mariadb:42
  restart: always
  expose:
   - "3306"
  environment:
   - MYSQL_DATABASE
   - MYSQL_USER
   - MYSQL_PASSWORD
   - MYSQL_ROOT_PASSWORD
   - LOGIN
  volumes:
    - /home/${USER}/data/mariadb:/var/lib/mysql
 wordpress:
  container_name: wordpress
  build: ./requirements/wordpress/
  image: wordpress:42
  restart: always
  expose:
   - "9000"
  environment:
   - LOGIN
   - MYSQL_USER
   - MYSQL_DATABASE
  depends_on:
   - mariadb
  # volumes:
  #  - /home/${USER}/data/wordpress:...
 nginx:
  container_name: nginx
  build: ./requirements/nginx/
  image: nginx:42
  restart: always
  environment:
   - LOGIN
  depends_on:
   - wordpress
  ports:
   - "443:443"
